.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.no-gutters > .col,
.no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}

.selected-image {
    border: 2px solid red;
}

.img-fluid {
    max-width: 60%;
    height: auto;
    margin-bottom: 20px;
}


.example-image-container {
    width: 66.66%; /* 2/3の幅に縮小 */
    height: auto; /* アスペクト比を維持 */
    margin: auto; /* 中央揃え */
}

