{% load static %}
{% load custom_filters %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>伝統工芸品・職人</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <link rel="icon" href="{% static 'favicon.ico' %}">
</head>
<body>
<header class="container mt-4 mb-4"> 
    <div class="row text-center justify-content-center">
        <div class="col">
            <h1 class="display-4">
                {{ user.username }}さん、伝統工芸品の判定・データ収集サイト
            </h1>
        </div>
    </div>  
</header>
<main class="container">
    <div class="row text-center justify-content-center mt-4">
        <div class="col">
            それぞれの伝統工芸品について、その特徴を把握し、データを収集するためのサイトです。<br>
            以下の三つの器についてそれぞれ正面の画像だと思うものを選択してください
        </div>
    </div>
    <h1>朝日焼</h1>

    {% for asahiyaki in asahiyakis %}
    <div class="card mt-4">
        <div class="card-body">
            <h5 class="card-title">{{ asahiyaki.name }}</h5>
            <!-- 画像一覧の表示 -->
            <div class="mb-5">
                <div class="row no-gutters image-item-{{ forloop.counter }}" id="image-list-{{ forloop.counter }}">
                    {% for i in numbers %}
                        <div class="col-1">
                            <img src="{% static asahiyaki.image_path %}{{ i|format_image_number }}.png" alt="Image {{ i }}" class="img-fluid image-item image-item-{{ forloop.parentloop.counter }}" data-image-item="{{ i|format_image_number }}">
                        </div>
                        {% if forloop.counter|divisibleby:12 and not forloop.last %}
                            </div><div class="row no-gutters image-item-{{ forloop.parentloop.counter }}" id="image-list-{{ forloop.parentloop.counter }}">
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <!-- スライダーのコンテナ-->
            <div class="swiper-container g-4" id="swiper-container-{{ forloop.counter }}" style="overflow: hidden;">
                <!-- スライダーのwrapper -->
                <div class="swiper-wrapper">
                    {% for i in numbers %}
                        <div class="swiper-slide" data-image="{{ i|format_image_number }}">
                            <img src="{% static asahiyaki.image_path %}{{ i|format_image_number }}.png" alt="Image {{ i }}" class="img-fluid">
                        </div>
                    {% endfor %}
                </div>
                <!-- スライダーのページネーション -->
                <div class="swiper-pagination"></div>
                <!-- スライダーのナビゲーション -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
            <!-- 選択保存フォーム -->
            <div class="container">
                <form class="selectionForm" data-form-id="{{ forloop.counter }}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="selected_image" id="selected_image_{{ forloop.counter }}" value="">
                    <input type="hidden" name="dish_name" value="{{ asahiyaki.name }}">
                    <input type="hidden" name="asahiyaki" value="{{ asahiyaki.id }}">
                    <button type="submit" class="btn btn-primary mt-3">選択を保存</button>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
</main>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'js/index.js' %}"></script>
</body>
</html>
