<!doctype html>
<html lang="en">
<head>
    {% load static %}
    {% load custom_filters %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>伝統工芸品・職人</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
   
</head>
<body>
<header class="container mt-4 mb-4"> 
    <div class="row text-center justify-content-center">
        <div class="col">
            <h1 class="display-4">
                {{ user.username }}さん、伝統工芸品の判定・データ収集サイト
            </h1>
        </div>
    </div>  
</header>
<main class="container">
    <div class="row text-center justify-content-center mt-4">
        <div class="col">
            それぞれの伝統工芸品について、その特徴を把握し、データを収集するためのサイトです。<br>
            以下の三つの器についてそれぞれ正面の画像だと思うものを選択してください
        </div>
    </div>
    <h1>朝日焼</h1>

    {% for asahiyaki in asahiyakis %}
    <div class="card mt-4">
        <div class="card-body">

            <h5 class="card-title">{{ asahiyaki.name }}</h5>

            <!-- ABC評価の選択 -->
            <div class="mb-3">
                <label for="evaluation-{{ forloop.counter }}" class="form-label">ABC評価:</label>
                <select class="form-select" id="evaluation-select-{{ forloop.counter }}" name="evaluation">
                    <option value="" selected></option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                </select>
            </div>
            <div>ドラッグして360度回転させて、正面の画像を選択してください。</div>
            <div>正面だと思うところで止めて、保存ボタンを押してください</div>

            <div class="container">
                <div
                    class="cloudimage-360"
                    id="gurkha-suv-{{ forloop.counter }}"
                    data-folder="{% static asahiyaki.image_path %}cropped/"
                    data-image-list-x='[
                        "01.png",
                        "02.png",
                        "03.png",
                        "04.png",
                        "05.png",
                        "06.png",
                        "07.png",
                        "08.png",
                        "09.png",
                        "10.png",
                        "11.png",
                        "12.png",
                        "13.png",
                        "14.png",
                        "15.png",
                        "16.png",
                        "17.png",
                        "18.png",
                        "19.png",
                        "20.png",
                        "21.png",
                        "22.png",
                        "23.png",
                        "24.png"
                    ]'
                    data-amount-x="24"
                ></div>
            </div>
        
            
            <!-- 選択保存フォーム -->
            <div class="container">
                <form class="selectionForm" data-form-id="{{ forloop.counter }}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="selected_image" id="selected_image_{{ forloop.counter }}" value="">
                    <input type="hidden" id="evaluation-{{forloop.counter}}" name="evaluation" value="">
                    <input type="hidden" name="asahiyaki" value="{{ asahiyaki.id }}">
                    <button type="submit" class="btn btn-primary mt-3">選択を保存</button>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
</main>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="{% static 'js/index.js' %}"></script>
<!--
  Powered by Scaleflex team. All rights reserved.
  JS Cloudimage 360 View is provided under the MIT License
-->
<script src="https://scaleflex.cloudimg.io/v7/plugins/js-cloudimage-360-view/latest/js-cloudimage-360-view.min.js?func=proxy"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const forms = document.querySelectorAll('.selectionForm');
    
        forms.forEach(function(form) {
            form.addEventListener('submit', function(event) {
                event.preventDefault(); // 通常のフォーム送信を防ぎます。
                
                // どの器に対するデータかを識別するためのIDを取得
                const formId = form.getAttribute('data-form-id');
                
                // 360度ビューアーで選択された画像のインデックスを取得
                const selectedImageIndex = window.CI360.getActiveIndexByID('gurkha-suv-' + formId, 'x');
                const viewer = document.getElementById('gurkha-suv-' + formId);
                const images = JSON.parse(viewer.getAttribute('data-image-list-x'));
                const selectedImage = images[selectedImageIndex];
                
                //ABC評価の選択を取得
                const evaluationSelect = document.getElementById(`evaluation-select-${formId}`);

                // CSRFトークンを取得
                const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
                
                const postData = {
                    selected_image: selectedImage,
                    evaluation: evaluationSelect.value,
                    asahiyaki: form.elements['asahiyaki'].value,  // asahiyaki IDを適切に取得
                };

                console.log(postData);
    
                fetch(form.action, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'Accept': 'application/json',
                        'X-CSRFToken': csrftoken
                    },
                    body: JSON.stringify(postData)
                }).then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    console.log('Success:', data);
                    // ここに成功時の処理を記述できます。
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
            });
        });
    });
    </script>
    

</body>
</html>
