<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>伝統工芸品・職人</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
</head>
<body>
<header class="container mt-4 mb-4"> 
    <div class="row text-center justify-content-center">
        <div class="col">
            <h1 class="display-4">
                学習後の再評価ページ
            </h1>
            
        </div>
    </div>  
</header>

<div class="container">
    <h2 class="col-12 text-center">以下に示すのは、朝日焼十六世松林豊斎さんが正面だと判断した画像です。</h2>
    <div class="row mb-4 text-center">
        {% for asahiyaki in asahiyaki_examples_a %}

                <div class="col-md-4">
                    <div class="card mt-4">
                        <div class="card-body">
                            <div class="cloudimage-360" id="rating-a-{{ forloop.counter }}"
                                 data-folder="{% static asahiyaki.image_path %}"
                                 data-image-list-x='[
                                    "01.png",
                                    "02.png",
                                    "03.png",
                                    "04.png",
                                    "05.png",
                                    "06.png",
                                    "07.png",
                                    "08.png",
                                    "09.png",
                                    "10.png",
                                    "11.png",
                                    "12.png",
                                    "13.png",
                                    "14.png",
                                    "15.png",
                                    "16.png",
                                    "17.png",
                                    "18.png",
                                    "19.png",
                                    "20.png",
                                    "21.png",
                                    "22.png",
                                    "23.png",
                                    "24.png"
                                ]'
                                 data-amount-x="24">
                            </div>
                            <!-- 正面に戻るボタン -->
                            <button onclick="resetToDefaultImage('rating-a-{{ forloop.counter }}')" class="btn btn-primary mt-3">正面に戻る</button>
                        </div>
                    </div>
                </div>
                
            
        {% endfor %}
    </div>
</div>

<main class="container">
    <h2 class="col-12 text-center">上記の評価例を踏まえて、正面画像を選択してください</h2>
    <div class="row mb-4">  <!-- 行を追加 -->
        {% for asahiyaki in asahiyakis_not_example %}
        <div class="col-md-4">  <!-- 3列配置のためのカラム -->
            <div class="card mt-4">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    
                    <div class="container">
                        <div class="cloudimage-360" id="gurkha-suv-{{ forloop.counter }}"
                             data-folder="{% static asahiyaki.image_path %}"
                             data-image-list-x='[
                                "01.png",
                                "02.png",
                                "03.png",
                                "04.png",
                                "05.png",
                                "06.png",
                                "07.png",
                                "08.png",
                                "09.png",
                                "10.png",
                                "11.png",
                                "12.png",
                                "13.png",
                                "14.png",
                                "15.png",
                                "16.png",
                                "17.png",
                                "18.png",
                                "19.png",
                                "20.png",
                                "21.png",
                                "22.png",
                                "23.png",
                                "24.png"
                             ]'
                             data-amount-x="24">
                        </div>
                    </div>

                    <!-- 画像固定用のチェックボックス -->
                    <div class="form-check mt-2">
                        <input class="form-check-input" type="checkbox" id="fix-image-{{ forloop.counter }}">
                        <label class="form-check-label" for="fix-image-{{ forloop.counter }}">
                            正面画像として選択
                        </label>
                    </div>
                    
                    <!-- 選択保存フォーム -->
                    <div class="container">
                        <form class="selectionForm" data-form-id="{{ forloop.counter }}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="selected_image" id="selected_image_{{ forloop.counter }}" value="">
                            <input type="hidden" name="asahiyaki" value="{{ asahiyaki.id }}">
                            <button type="submit" class="btn btn-primary mt-3 save-button">上記の選択を保存</button>
                            <button type="button" class="btn btn-secondary mt-3 edit-button">編集</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</main >

<div class="text-center my-4">
    <a href="#" class="btn btn-primary next-page-button">結果を見る</a>
</div>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="{% static 'js/index.js' %}"></script>
<!--
  Powered by Scaleflex team. All rights reserved.
  JS Cloudimage 360 View is provided under the MIT License
-->
<script src="https://scaleflex.cloudimg.io/v7/plugins/js-cloudimage-360-view/latest/js-cloudimage-360-view.min.js?func=proxy"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const forms = document.querySelectorAll('.selectionForm');
        const nextPageButton = document.querySelector('.next-page-button');  // 次のページへのボタン
    
        forms.forEach(function(form) {
            const saveButton = form.querySelector('button.save-button');
            const editButton = form.querySelector('button.edit-button');

            form.addEventListener('submit', function(event) {
                event.preventDefault(); // 通常のフォーム送信を防ぎます。
                const submitButton = event.submitter; // フォーム送信時のボタンを取得
                const formId = form.getAttribute('data-form-id');
                const checkbox = document.getElementById(`fix-image-${formId}`);
                const viewer = document.getElementById('gurkha-suv-' + formId);
               
                const images = JSON.parse(viewer.getAttribute('data-image-list-x'));
                const selectedImageIndex = window.CI360.getActiveIndexByID('gurkha-suv-' + formId, 'x');
                
                const selectedImage = images[selectedImageIndex];
                

                console.log('Selected image:', selectedImage);

                // CSRFトークンを取得
                const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

                if (!checkbox.checked) {
                    alert('正面画像を選択してください。');
                    return;
                }
                
                viewer.setAttribute('data-disable-drag', 'true');
                window.CI360.update(viewer.id, true);
                window.CI360.update(viewer.id, {imageIndex: selectedImageIndex});
                
                // データの準備
                const postData = {
                    asahiyaki: form.elements['asahiyaki'].value, // asahiyaki IDを適切に取得
                    selected_image: selectedImage
                };

                fetch(form.action, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'Accept': 'application/json',
                        'X-CSRFToken': csrftoken
                    },
                    body: JSON.stringify(postData)
                }).then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                }).then(data => {
                    console.log('Success:', data);
                    saveButton.textContent = '保存済み';
                    saveButton.classList.add('btn-success');
                    saveButton.classList.remove('btn-primary');
                    saveButton.disabled = true; // 保存ボタンを無効化
                    form.setAttribute('data-saved', 'true');  // フォームの保存状態を更新
                }).catch((error) => {
                    console.error('Error:', error);
                    alert('エラーが発生しました: ' + error.message);
                });
            });

            // 編集ボタンのクリックイベントリスナー
            editButton.addEventListener('click', function() {
                const formId = form.getAttribute('data-form-id');
                const saveButton = form.querySelector('button.save-button');
                const checkbox = document.getElementById(`fix-image-${formId}`);
                const viewer = document.getElementById('gurkha-suv-' + formId);

                // チェックボックスのチェックを外す
                checkbox.checked = false;
                
                // チェックボックスを有効化
                checkbox.disabled = false;
                saveButton.disabled = false; // 保存ボタンを有効化
                saveButton.textContent = '上記の選択を保存'; // テキストを変更
                saveButton.classList.remove('btn-success');
                saveButton.classList.add('btn-primary');
                viewer.setAttribute('data-disable-drag', 'false');
                window.CI360.update(viewer.id, {imageIndex:0}); // 画像のドラッグを有効化
            });
        });
    
        nextPageButton.addEventListener('click', function(event) {
            const allFormsSaved = Array.from(forms).every(form => form.getAttribute('data-saved') === 'true');
            if (!allFormsSaved) {
                event.preventDefault();
                alert('すべての評価を保存してから次へ進んでください。');
            } else {
                window.location.href = "{% url 'front_select_result' %}?uuid={{user.uuid}}"; // 次のページへリダイレクト
            }
        });
    });

    function resetToDefaultImage(viewerId) {
        window.CI360.update(viewerId, {imageIndex: 0});
    }
    
    
    
</script>

</body>
</html>
