{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>伝統工芸品・職人</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
          crossorigin="anonymous">
</head>
<body>
<header class="container mt-4 mb-4">
    
</header>
<main class="container">
    <div class="row text-center justify-content-center">
        <div class="col">
            <h1 class="display-4">伝統工芸品の判定・データ収集サイト
            </h1>
        </div>
    </div>  

    <div class="row text-center justify-content-center mt-4">
        <div class="col">
             {{user}}さん、ご協力ありがとうございます。
        </div>
    </div>

    <div class="row text-center justify-content-center mt-4">
        <div class="col">
            それぞれの伝統工芸品について、その特徴を把握し、データを収集するためのサイトです。<br>
            以下の三つの食器についてそれぞれ正面の画像だと思うものを選択してください
        </div>
    </div>

    {% comment %} 3つの画像の詳細ページへのリンクを作成 {% endcomment %}
    <div class="row mt-4">
        <div class="col">
            <div class="card">
                {% comment %} <img src="{% static 'images/1.jpg' %}" class="card-img-top" alt="..."> {% endcomment %}
                <div class="card-body">
                    <h5 class="card-title
                    ">食器1</h5>
                    <p class="card-text">食器1の説明</p>
                    {% comment %} あらゆる角度からの食器の画像一覧を並べる {% endcomment %}
                    <img src="{% static 'images/1.jpg' %}" class="card-img-top" alt="...">
                    <a href="" class="btn btn-primary">詳細</a>
                </div>  
            </div>  
        </div>
    </div>

    <div class="row mt-4">
        <div class="col">
            <div class="card">
                {% comment %} <img src="{% static 'images/1.jpg' %}" class="card-img-top" alt="..."> {% endcomment %}
                <div class="card-body">
                    <h5 class="card-title
                    ">食器2</h5>
                    <p class="card-text">食器2の説明</p>
                    <a href="" class="btn btn-primary">選択ページへ</a>
                </div>  
            </div>  
        </div>
    </div>

    <div class="row mt-4">
        <div class="col">
            <div class="card">
                {% comment %} <img src="{% static 'images/1.jpg' %}" class="card-img-top" alt="..."> {% endcomment %}
                <div class="card-body">
                    <h5 class="card-title
                    ">食器3</h5>
                    <p class="card-text">食器3の説明</p>
                    <a href="" class="btn btn-primary">選択ページへ</a>
                </div>  
            </div>  
        </div>
    </div>

    {% comment %} 3つの食器の選択が終わったら、以下のボタンを押してください {% endcomment %}
    <div class="row mt-4">
        <div class="col">
            <a href="" class="btn btn-primary">次へ</a>
        </div>
    </div>


</main>
</body>
</html>
